---
layout: default
---

<div class="two-column-layout">

  <section class="about-me-section">
    {{ content }}
  </section>

<aside class="sidebar-posts">
    <h2>Recent Activity</h2>
    <ul class="sidebar-list">
      {% assign recent_entries = site.posts | concat: site.articles | sort: "date" | reverse %}

      {% for entry in recent_entries limit: 5 %}
        <li>
          <span class="sidebar-post-date">{{ entry.date | date: "%b %d, %Y" }}</span>
          <a href="{{ entry.url | relative_url }}">{{ entry.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </aside>
</div>
